# Ignored Directories
.history/
Code/*
Code/User/*
configstore/
dconf/
discord/
discordcanary/
Electron/
GIMP/
Insomnia/
keepassxc/
libreoffice/
obs-studio/basic/
obs-studio/logs/
obs-studio/plugin_config/
obs-studio/profiler_data/
powershell/
procps/
pulse/
rclone/
sourcetrail/
teamviewer/
transmission/blocklists
transmission/resume
transmission/torrents
ura/*
VirtualBox/
wakatime/
yarn/global/node_modules/
**/t*.*

# Ignored Files
BetterDiscord/plugins/MessageLoggerV2Data.config.json
transmission/dht.dat
transmission/stats.json
yarn/global/package.json
yarn/global/yarn-error.log
yarn/global/yarn.lock
.org.chromium.Chromium.*
QtProject.conf

# Included Directories
!Code/User/

# Included Files
!Code/languagepacks.json
!Code/Preferences
!Code/User/keybindings.json
!Code/User/settings.json
!Code/User/tasks.json