/* @import url(https://schnensch0.github.io/zelk/main.css); */

/* .focusLock-2tveLW, .root-g14mjS {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
} */

/* .header-S26rhB, .customStatusActivity-WKWGD-, .textScroller-dc9_kz > div {
    margin-left: 16px !important;
} */

/* banner-2boKnS popoutBanner-16rVDY */
/* banner-2boKnS profileBanner-2zIsK7 */

.profileBanner-2zIsK7 {
    height: 200px !important;
}


div.topSection-13QKHs > header > svg.bannerSVGWrapper-qc0szY {
    min-height: 230px !important;
    transform: scale(2);
}

div.topSection-13QKHs > header > svg.bannerSVGWrapper-qc0szY > foreignObject > div.bannerPremium-86naOf {
    transform: scale(0.5);
}

div.topSection-13QKHs > header > svg.bannerSVGWrapper-qc0szY > mask > circle {
    cy: 126 !important;
    cx: 81 !important;
    r: 58 !important;
}

.avatar-3QF_VA {
    position: absolute;
    top: -168px !important;
    border: 4px solid var(--background-floating);
    background-color: var(--background-floating);
}

.root-8LYsGj, .profileBanner-1owKI5, .profileBannerPremium-KD60EB, .bannerOverlayProfile-31VOgt {
    width: 700px !important;
    max-width: 700px !important;
}

:root {
    --scrollbars: unset !important;
    --notes: none !important;
    --message: none !important;
    --embed-color: 4px solid !important;
}

.theme-dark {
    /* whi_ne's mod */
    /* colors */
    --accent-color: #ffa0de !important;
    --background-1-h: 233 !important;
    --background-1-s: 22% !important;
    --background-1-l: 14% !important;
    --background-1-raw: var(--background-1-h), var(--background-1-s), var(--background-1-l) !important;
    --background-1: hsl(var(--background-1-raw)) !important;
    --background-2-raw: 231, 24%, 11% !important;
    --background-2: hsl(var(--background-2-raw)) !important;
    --background-accent: var(--background-2) !important;
    --background-floating: var(--background-2) !important;
    --border-color: #191b29 !important;

    /* user defined variables */
    --selected-raw: var(--background-1-h), var(--background-1-s), 19% !important;
    --selected: hsl(var(--selected-raw)) !important;

    /* background */
    --background-modifier-hover: var(--background-1) !important;
    --background-modifier-active: hsl(var(--background-1-h), var(--background-1-s), 24%) !important;
    --background-mentioned: hsla(var(--selected-raw), 0.2) !important;
    --background-mentioned-hover: hsla(var(--selected-raw), 0.2) !important;

    /* modifiers */
    --background-modifier-selected: var(--selected) !important;

    /* text */
    --text-normal: #ffbde8 !important;
    --text-positive: var(--text-normal) !important;
    --text-muted: #6d8692 !important;
    --text-link: #edf8fe !important;
    --interactive-selected: var(--accent-color) !important;

    /* buttons */
    --button-background: #2a3439 !important;
    --button-background-hover: #354249 !important;
    --button-background-active: #4d5f68 !important;
}

.ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
    background: none !important;
}